.footer {
    display: flex;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    margin-bottom: auto;
}

.footer a {
    scroll-behavior: smooth;
}

.footer li {
    color: black;
    list-style-type: none;
    text-decoration: none;
}